@using System.Globalization
@model TravelPackage

@{
    ViewData["Title"] = "Update a Travel Pack";
}

<form method="POST" asp-controller="TravelPackages" asp-action="Edit" class="has-validation" enctype="multipart/form-data">
    <div class="row g-3">
        <div class="col-md-10">
            <div class="row g-3">
                <input type="hidden" asp-for="ImageUrl"/>

                <div class="col-md-6">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Rating" class="form-label"></label>
                    <input asp-for="Rating" type="number" value="@Model.Rating" class="form-control">
                    <span asp-validation-for="Rating"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input asp-for="StartDate" type="date" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="form-control">
                    <span asp-validation-for="StartDate"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="EndDate" class="form-label"></label>
                    <input asp-for="EndDate" type="date" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control">
                    <span asp-validation-for="EndDate"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="PricePerAdult" class="form-label"></label>
                    <div class="input-group">
                        <input asp-for="PricePerAdult" type="number" step=".01" value="@Model.PricePerAdult.ToString("N2")" class="form-control">
                        <span class="input-group-text">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
                    </div>
                    <span asp-validation-for="PricePerAdult"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="PricePerKid" class="form-label"></label>
                    <div class="input-group">
                        <input asp-for="PricePerKid" type="number" step=".01" value="@Model.PricePerKid.ToString("N2")" class="form-control">
                        <span class="input-group-text">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
                    </div>
                    <span asp-validation-for="PricePerKid"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="AmountOfAdults" class="form-label"></label>
                    <input asp-for="AmountOfAdults" type="number" value="@Model.AmountOfAdults" class="form-control">
                    <span asp-validation-for="AmountOfAdults"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="AmountOfKids" class="form-label"></label>
                    <input asp-for="AmountOfKids" type="number" value="@Model.AmountOfKids" class="form-control">
                    <span asp-validation-for="AmountOfKids"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" type="text" class="form-control">
                    <span asp-validation-for="City"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Region" class="form-label"></label>
                    <input asp-for="Region" type="text" class="form-control">
                    <span asp-validation-for="Region"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="State" class="form-label"></label>
                    <input asp-for="State" type="text" class="form-control">
                    <span asp-validation-for="State"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ImageUrl" class="form-label"></label>
                    <input asp-for="ImageUrl" class="form-control" name="file" type="file" accept=".jpeg,.jpg,.png" id="uploadBox">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                    <a asp-controller="TravelPackages" asp-action="Index" type="button" class="btn btn-light">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="row g-3">
                <div class="col-12">
                    @if (Model.ImageUrl is not null)
                    {
                        <img src="@Model.ImageUrl" alt="" style="width: 100%; aspect-ratio: 1; object-fit: cover">
                    }
                    else
                    {
                        <img src="https://placehold.jp/200x200.png?text=NoImage" alt="" style="width: 100%; aspect-ratio: 1; object-fit: cover">
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}